html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    -webkit-user-select: none;
    background-color: #1B1923;
   
   
  
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   margin-top: 30px;
   padding: 20px;
}
.title-img{
    height: 200px;
}
.title{
    color: whitesmoke;
    line-height: 10px;
    font-size: 27px;
}
#endorseField{
    background-color: #44415B;
    padding: 15px;
    font-size: 15px;
    border-radius: 8px;
    width: 345px;
    color: whitesmoke;
    outline: none;
    border: none;
}
.toFrom{
    display: flex;
    justify-content: space-between;
    width: 370px;
}
.toFromBtn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #44415B;
    text-align: center;
}
.publish-btn{
    background-color: #04ABF7;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    width: 370px;
    color: black;
    font-size: 20px;
}
.endorsements{
    color: whitesmoke;
    font-size: 20px;
}
#display{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: red;
}
#display li{
    background-color: whitesmoke;
    padding: 15px;
    width: 350px;
    
}